<div id="entries"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Zesty.Routers.EntriesRouter({entries: <%= @entries.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>