<h1>Edit entry</h1>

<form id="edit-entry" name="entry">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Entry" />
  </div>

</form>

<a href="#/index">Back</a>